export("scEFSC")
import("reticulate")
import("scDHA")
import("doParallel")
import("foreach")
import("keras")
import("tensorflow")
import("SC3")
import("SingleCellExperiment")
import("SIMLR")
import("Seurat")
import("SHARP")
import("cidr")
import("SINCERA")
import("mclust")
import("clues")
import("pcaReduce")
import("SIMLR")
import("caret")
import("Rphenograph")
import("monocle")
import("RaceID")
